# -- Site Configuration --
# Refer to the theme docs for more details about each of these parameters.
# https://blowfish.page/docs/getting-started/

theme = "blowfish" 
baseURL = "https://localhost:1313"
defaultContentLanguage = "zh-cn"
defaultContentLanguageInSubdir = false


# pluralizeListTitles = "true" # hugo function useful for non-english languages, find out more in  https://gohugo.io/getting-started/configuration/#pluralizelisttitles

enableRobotsTXT = true
summaryLength = 30

buildDrafts = false
buildFuture = false

enableEmoji = true

# googleAnalytics = "G-XXXXXXXXX"

# 配置网站的时区
timeZone = 'Asia/Shanghai'

[pagination]
  pagerSize = 100

[imaging]
  anchor = 'Center'

# 分类法
[taxonomies]
  tag = "tags"
  category = "categories"
  author = "authors"
  series = "series"

[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[outputs]
  home = ["HTML", "RSS", "JSON"]

[related]
  threshold = 0
  toLower = false

    [[related.indices]]
        name = "tags"
        weight = 100

    [[related.indices]]
        name = "categories"
        weight = 100

    [[related.indices]]
        name = "series"
        weight = 50

    [[related.indices]]
        name = "authors"
        weight = 20

    [[related.indices]]
        name = "date"
        weight = 10

    [[related.indices]]
      applyFilter = false
      name = 'fragmentrefs'
      type = 'fragments'
      weight = 10


[frontmatter]
  date = ['date',':default']
  expiryDate = ['expirydate', 'unpublishdate']
  lastmod = ['lastmod', ':fileModTime', ':git']
  publishDate = ['publishdate', 'pubdate', 'date']

